@media screen and (max-width: 980px) {
  nav a {
    display: none;
  }

  nav .icon {
    float: right;
    display: block;
  }
  nav.responsive {
    position: sticky;
    display: block;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);

    height: 100vh;
    overflow: auto;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    background-color: #cccccc14;
    width: 75%;
  }

  #TopSection {
    display: block;
    margin: auto;
    padding: 2%;
  }

  #DataContainer {
    margin-top: 0;
  }
  #Contact form {
    text-align: center;
    margin-top: 5%;
  }

  #Certificates .card {
    flex: 0 0 60%;
  }

  #Projects .card {
    margin-bottom: 40px !important;
    flex: 0 0 55%;
  }
  #ProjectsPopUp {
    padding: 3rem !important;
  }
  #ProjectsPopUp .card {
    width: 90% !important;
  }
}

@media screen and (max-width: 660px) {
  #Skills .skill {
    width: 22%;
  }

  #Projects .card {
    flex: 0 0 70%;
    display: block;
    text-align: center;
  }
  #ProjectsPopUp .card {
    width: 70% !important;
    display: block !important;
    text-align: center;
  }
}
