@media screen and (min-width: 980px) {
  #ImageContainer {
    position: sticky !important;
    top: 0;
  }

  .onScrollTopSection {
    grid-template-columns: 30% 70% !important;
  }
  .onScrollProfileImage {
    padding-top: 65px !important;
  }

  #Contact .textPart {
    width: 35%;
    position: relative;
  }
  #Contact svg {
    width: 50%;
    position: relative;
  }
  #Contact form {
    display: grid;
    width: 55%;
    z-index: 3;
    margin: auto;
  }
  #Contact .afterDiv {
    display: flex !important;
  }

  #Contact #afterForm .textPart {
    width: 50%;
  }
  #Contact .form {
    display: flex;
    padding: 1%;
  }
}
