#topContainer {
  display: flex;
  flex-wrap: wrap;
}
/* LEFT CONTENT  */
#leftContent {
  height: 100vh;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

/* Profile  */

#leftContent .box,
#leftContent .box2 {
  min-width: 65%;
  min-height: 67%;
  position: absolute;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#leftContent .box {
  border: 1px solid rgba(255, 255, 255, 0.6);
  animation-name: animateBox;
}

#leftContent .box2 {
  border: 1px solid rgba(255, 255, 255, 0.6);
  animation-name: animateBox2;
}

#leftContent .content {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  top: 82%;
  right: 10%;
  width: 70%;
  font-weight: 400;
  font-family: "Sacramento", cursive;
  font-size: xx-large;
  text-align: center;

}

#leftContent .content span:first-child,#leftContent .content span:last-child{
  animation: textAni 4s infinite;
  font-weight: 900;
  font-size:50px;
}
#leftContent .content span:first-child{
  position: absolute;
  left: 0;
}
#leftContent .content span:last-child{
  position: absolute;
  right: 0;
}

#leftContent .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  min-width: 58%;
  min-height: 60%;
  top: 14%;
  left: 21%;
}
#rightContent .dateLocation {
  display: flex;
  margin-bottom: 1vh;
}
#rightContent .dayDate {
  font-family: "Caprasimo", cursive;
  color: #888;
  font-size: medium;
  flex: 45%;
  margin-right: 1.1%;
  margin-top: auto;
}
#rightContent .location {
  position: relative;
  text-align: end;
}


#rightContent .location span {
  font-size: medium;
  font-family: "Caprasimo", cursive;
}

/* INFORMATION  */
#rightContent h4 {
  font-family: "Gochi Hand", cursive;
  color: #888;
  letter-spacing: 2px;
  text-align: right;
}
#rightContent .wave {
  animation-name: wave-animation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

#rightContent .name {
  font-size: xxx-large;
  font-family: "Rowdies", cursive;
  color: #ffecec;
  text-align: right;
}
#rightContent .nameUnderline {
  margin-bottom: 5vh;
  border: none;
  border-top: 2px solid #5d3891;
  width: 45%;
  margin-left: auto;
  margin-right: 20%;
  box-shadow: -7px 0px 15px 2px #5d3891;
}

#rightContent .information {
  margin-bottom: 7%;
}
#rightContent .information h3 {
  text-align: justify;
  padding-bottom: 10vh;
  font-weight: 400;
  color: #ffecec;
  opacity: 0.8;
  font-family: "Architects Daughter", cursive;
}

#rightContent .social {
  text-align: center;
  margin-top: 1%;
}
#rightContent .social img {
  background-color: #9ac5f4;
  margin: 0 1vw;
  width: 45px;
  padding: 0.4vw;
  border-radius: 10px;
}

#rightContent .social img:hover {
  box-shadow: 0px 0px 10px #9575de;
  width: 50px;
}
/* SKILLS  */
#rightContent .skills {
  margin-bottom: 10%;
}
#rightContent .skillSet {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 2% 0;
  margin: auto;
}

#rightContent .skillSet .col {
  width: 25%;
  margin: 2% 4% 2% 4%;
}
#rightContent .skillSet .item-name {
  margin: 10px;
}
#rightContent .skills .item {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2);
}
#rightContent .skills .item h5 {
  font-size: 1.5vw;
}
#rightContent .skills .item:hover {
  box-shadow: 0px 0px 7px #9575de;
}
#rightContent .skillSet .value {
  font-size: xx-small;
  padding: 3px 10px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 5px;
  right: 5px;
}
#rightContent .skills .skill-progress {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}
#rightContent .skills .progres {
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* ABOUT  */
#about {
  margin-bottom: 10%;
}
#about .aboutData {
  width: 80%;
  margin: auto;
}
#about h2 {
  margin-bottom: 5%;
  font-family: "PT Serif", serif;
  font-size: large;
}
#about ul {
  margin-bottom: 10%;
}
#about li {
  margin-bottom: 3vh;
  font-size: medium;
  font-family: "PT Serif", serif;
}
#about span {
  font-size: medium;
  color: #999;
}
#about a {
  font-size: medium;
  color: #4a4a4a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: none;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Architects Daughter", cursive;
  position: relative;
}

#about .btn:link,
#about .btn:visited {
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#about .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#about .btn-white {
  background-color: #c4dfdf;
}

#about .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

#about .btn-white::after {
  background-color: #c4dfdf;
}

#about .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

#about .btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

#about .funFact {
  animation: factAni 2s linear infinite;
}
.word-1 {
  --color-1: #df8453;
  --color-2: #d8c4b6;
  --color-3: #00bfff99;
}

.word-2 {
  --color-1: #dbad4a;
  --color-2: #64ccc5;
  --color-3: #d8c4b6;
}

.word-3 {
  --color-1: #b799ff;
  --color-2: #79e0ee;
  --color-3: #98eecc;
}

.word-4 {
  --color-1: #967e76;
  --color-2: #e1aeff;
  --color-3: #4fc0d0;
}

/* RESUME  */
#resume .resumebox {
  border: 2px solid #888;
  text-align: center;
  padding-bottom: 3vh;

  margin: 10vh auto;
}
#resume a {
  width: 60%;
  display: block;
  margin: auto;
}
#resume p {
  font-size: 1vw;
  color: #888;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: sans-serif;
  padding: 0;
}
#resume lord-icon {
  width: 17vw;
  height: 15vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

#resume .resumebox:hover {
  border-color: #433e3e;
}

/* Education and Experience */

#rightContent .education,
#rightContent .experience {
  margin-bottom: 10%;
}
.education .eduItem,
.experience .expItem {
  background-color: #181715;
  position: relative;
  padding:18px 40px 10px;
  border: 1px solid #151412;
  margin: 3%;
}

.education .item_top,
.experience .item_top {
  margin-bottom: 14px;
}

.education .item_top h5 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2vw;
  color: #ffffff;
  opacity: 0.7;
}

.item_top span {
  font-size: 1.5vw;
  color: #888;
  opacity: 0.7;
}

.education h3,
.experience h3 {
  font-size: 2vw;
  margin-bottom: 17px;
}
.eduItem:after,
.expItem:after {
  content: "";
  position: absolute;
  width: 0.5vw;
  height: 50px;
  left: -1px;
  top: 50%;
  margin-top: -25px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s 1s ease;
}
.experience p {
  opacity: 0.6;
}

@media only screen and (min-width: 1000px) {
  #rightContent {
    flex: 1;
    padding: 15vh 2vw 0 2vh;
    overflow: auto;
    z-index: 1;
  }
  #rightContent .content {
    padding: 10vh 2vw 3vh 2vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2);
  }

  #leftContent {
    flex: 0 0 45%;
    position: sticky !important;
    top: 0 ;
  }
  .onScrollContent {
    top: 6% !important;
    flex: 0 0 33% !important;
  }
}

@media only screen and (max-width: 1000px) {
  #rightContent .skillSet .col {
    width: 40%;
  }
  #rightContent .content {
    padding-top: 10%;
  }

  #topContainer {
    padding: 4%;
  }
  #rightContent{
    padding: 0 2vw;
  }
}

/* Page Nav */

#pageNav {
  display: none;
  position: sticky;
  padding: 2vh 0;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 8;
  border-bottom:1px solid rgb(128, 128, 128,.5);
  background: url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-color: rgba(29, 29, 29, 0.7);

}


#pageNav .navUl {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#pageNav .navUl li {
  display: inline-block;
  margin-right: 5vw;
  font-family: 'Russo One';
  font-size: x-large;
  letter-spacing: 2px;

}

#pageNav li a {
  color: #888;
}