:root {
  --bg: #fad77b45;
  --text: #000000;
  --nav-text: #000000;
  --nav-hover: #000000;
  --menu-bg: rgba(255, 255, 255, 0.85);
  --theme-btn-hover: #0000002b;
  --body-before: #55e6a5;
  --body-before-rbg: 85, 230, 165;
  --body-after-size: 300px;
  --img-before-after: linear-gradient(
    45deg,
    rgba(114, 134, 255),
    rgba(255, 114, 114)
  );
  --text-gray: #333;
  --heading-text: #103d9f;
  --card-bg: #fad67b04;
}

[data-theme="dark"] {
  --card-bg: #55e6a504;
  --bg: #1d1d1d;
  --text: #d1d5db;
  --nav-text: #f2f2f2;
  --nav-hover: #f2f2f2;
  --menu-bg: rgba(51, 51, 51, 0.6);
  --theme-btn-hover: #f2f2f22b;
  --body-before-rbg: 255, 223, 136;
  --body-before: #ffdf88;
  --body-after-size: 100px;
  --img-before-after: linear-gradient(
    45deg,
    rgba(114, 134, 255, 0.4),
    rgba(255, 114, 114, 0.3)
  );
  --heading-text: #93c5fd;
  --text-gray: #999;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Merriweather", serif;
  margin: 0 !important;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 200px;
  border-radius: 100%;
  background: var(--body-before);
  filter: blur(200px);
  pointer-events: none;
  z-index: -1;
}
body:after {
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  width: var(--body-after-size);
  height: 200px;
  border-radius: 100%;
  background: var(--body-before);
  filter: blur(200px);
  pointer-events: none;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

#portfolioBody {
  flex: 1 1 auto;
  padding: 24px 40px;
  overflow: auto;
}
.max-width {
  max-width: 1600px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}
@media (max-width: 1000px) {
  #portfolioBody {
    padding: 24px 16px;
  }
}
@media (min-width: 1050px) {
  .max-width {
    margin: 0 auto !important;
  }
}
#protected-img,
#ImageContainer {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}
