nav {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  transition: background-color 0.4s ease;
  font-family: "Merriweather", serif;
  background: #0000002d;
}

.navBar-logo {
  width: 50px;
  height: 65px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  color: var(--nav-text);
  text-decoration: none;
  font-size: large;
  position: relative;
  font-size: 22px;
  transition: all 0.3s ease;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: var(--nav-hover);
  transition: width 0.4s ease;
}

.nav-links a:hover::before {
  width: 80%;
}

/* ========================
   Hamburger Menu
======================== */

.menu-icon {
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

.menu-icon span {
  height: 3px;
  background: var(--nav-text);
  border-radius: 2px;
  transition: all 0.4s ease;
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

/* ========================
   Responsive Nav
======================== */

@media (max-width: 1000px) {
  nav {
    backdrop-filter: none;
  }
  .menu-icon {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 30px;
    backdrop-filter: blur(20px);
    background: rgba(var(--body-before-rbg), 0.5);
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
    pointer-events: none;
    width: 40%;
    justify-content: space-around;
  }
  .nav-links a {
    color: black;
  }

  .nav-links.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 1;
  }

  .nav-links a {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.5s ease;
    width: max-content;
  }

  .nav-links.show a {
    opacity: 1;
    transform: translateX(0);
  }

  .nav-links.show a:nth-child(1) {
    transition-delay: 0.1s;
  }
  .nav-links.show a:nth-child(2) {
    transition-delay: 0.2s;
  }
  .nav-links.show a:nth-child(3) {
    transition-delay: 0.3s;
  }
  .nav-links.show a:nth-child(4) {
    transition-delay: 0.4s;
  }
  .nav-links.show a:nth-child(5) {
    transition-delay: 0.5s;
  }
}
